body {
  background-color: lightgray;
  font-style: normal;
  font-size: 15px;
}

.class {
  font-size: 50px;
  color: blue;
}

h6 {
  font-size: 32px;
  font-family: monospace;
  color: #a52a2a;
}

p {
  font-style: sans-serif;
  font-size: 19px;
}

li {
  font-size: 20px;
}

h1 {
  font-family: monospace;
}

.col-md-3 {
  margin: 0px;
}

.well {
  /* margin: 0px; */
}

.container p {
  font-size: 17px;
}

.beef {
  max-height: 400px;
  overflow: scroll;
}

.Chicken {
  max-height: 400px;
  overflow: scroll;
}
