.h1 {
  border-radius: 300px;
  color: #56a0d3;
  background-color: #37332d;
  text-align: center;
  width: 900px;
}

.den {
  text-align: center;
  font-size: 60px;
  font-family: sans-serif;
}

.den1 {
  font-size: 30px;
  /* overflow: scroll; */
}

footer {
  background-color: black;
  position: fixed;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  border-top: 4px solid white;
}

body {
  background-color: #8397ac;
  margin: auto;
}

h1 {
  font-size: 32px;
  font-style: 'AmstelvarAlpha';
  font: 3rem 'AmstelvarAlpha', sans-serif;
}

.col-md-3 {
  margin: auto;
}

.well {
  /* background-color: rgb(22, 105, 173); */
  margin: 3px;
}

.den2 {
  font-size: 32px;
  font-family: monospace;
  font-weight: bolder;
  color: #007300;
}
.panel-title{
  text-align: center;
  font-size: 32px;
  font-family: monospace;
  font-weight: bolder;
  color: #007300;

}
/* .container {
  max-height: 150px;
overflow: scroll;
} */
