body{
    background-image: url(./so.jpeg);
}
h1{
    background: grey;
    color: black;
    float: center;
    margin: 50px;
    padding: 20px;
    width: 300px;
    border-radius: 50px;
    margin-left: 500px;
    font-style: italic;
    height: 70px;

}
.nav{
    font-family: verdana;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    float: left;
    display:inline-block;
    color: whitesmoke;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
    font-size: x-large;
}
a.active, .nav a:hover{
    background-color:greenyellow;
    color:black;
    width: 40%;
    border-radius: 50px;
}
.a{
    width: 60%;
}
.b{
    width: 40%;
    border-radius: 50px;
}
.nav a{
    text-decoration: none;
    font-size: larger;
    font-family: verdana;
    font-weight: bold;
    width: 40%;
    height: 90%;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: black;
    line-height: 90px;
    text-align: center;
    color: chartreuse;
}
h2{
    padding: 80px;
    background: black;
    border-radius: 50px;
    width:500px;

}
h3{
padding: 80px;
background: gray;
border-radius: 50px;
width:500px;
}


